@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --min-color: #fff;
    --sc-color: #FFCA00;
    --th-color: #333;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

.btn {
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--sc-color);
    outline: 0;
    background: var(--sc-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--min-color);
}

.btn:hover {
    background: none;
    color: var(--sc-color);
}

.heading {
    margin: 5rem auto;
    font-size: 3.5rem;
    text-align: center;
    color: var(--th-color);
}

.heading div {
    display: inline-block;
    border-bottom: 0.2rem solid var(--th-color);
    width: 15rem;
}

.heading div:hover {
    width: 25rem;
}

section {
    padding: 3rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: #703BE7;
    z-index: 1001;
}

header .navbar a {
    margin: 0 0.8rem;
    font-size: 1.9rem;
    color: var(--min-color);
    padding: 0.4rem;
}

header .navbar a:hover,
header .fa-bars:hover {
    color: var(--sc-color);
}

header .fa-bars {
    font-size: 2.8rem;
    color: var(--min-color);
    cursor: pointer;
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
}

.home .home-slid .box {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.home .home-slid .box .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .home-slid .box .content {
    position: absolute;
    bottom: 20px;
    left: 70px;
    padding: 20px;
    color: var(--min-color);
    text-align: left;
    width: 38%;
    height: 45%;
}

.home .home-slid .box .content {
    padding-left: 30PX;
}

.home .home-slid .box .content h3 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.home .home-slid .box .content a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFCA00;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 10px;
}

.about {
    background: #ffffff;
}

.about .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 7rem;
}

.about .box .image img {
    width: 414px;
    height: 414px;
    object-fit: cover;
}

.about .box .content {
    margin-left: 15rem;
}

.about .box .content h2 {
    color: #703BE7;
    font-size: 3.5rem;
}

.about .box .content p {
    color: var(--th-color);
    font-size: 2rem;
    margin: 2rem 0;
}

.about .box .content div {
    color: var(--th-color);
    font-size: 2.2rem;
}

.about1 {
    background: #ffffff;
}

.about1 .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.about1 .box .image img {
    width: 414px;
    height: 414px;
    object-fit: cover;
}

.about1 .box .content {
    margin-right: 15rem;
}

.about1 .box .content h2 {
    color: #703BE7;
    font-size: 3.5rem;
}

.about1 .box .content p {
    color: var(--th-color);
    font-size: 2rem;
    margin: 2rem 0;
}

.about1 .box .content div {
    color: var(--th-color);
    font-size: 2.2rem;
}

.footer {
    background: #703BE7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 4rem;
}

.footer div {
    flex-basis: 25%;
    max-width: 25%;
    margin: 1.5rem;
}

.footer h3 {
    font-size: 3.5rem;
    margin: 2rem 0;
    color: var(--min-color);
}

.footer p {
    font-size: 1.6rem;
    margin: 1rem 0;
    color: var(--min-color);
}

.footer i {
    font-size: 2.6rem;
    margin: 1rem 0.5rem;
    color: var(--min-color);
}

.footer i:hover,
.footer a:hover {
    color: var(--sc-color);
}

.footer a {
    display: block;
    font-size: 2rem;
    margin: 0.5rem;
    color: var(--min-color);
}

.cp {
    flex-basis: 100%;
    margin-top: 0px;
    background: #703BE7;
}

.cp hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin-top: 0px;
}

.cp .copyright {
    margin-top: 10px;
    text-align: center;
}

.fill {
    height: 15px;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

@media (max-width: 1200px) {
    .home .home-slid .box .content {
        bottom: 20px;
        left: 0px;
        padding: 20px;
        color: var(--min-color);
        text-align: left;
        width: 50%;
        height: 45%;
    }
    .home .home-slid .box .content {
        padding-left: 20px;
    }
    .home .home-slid .box .content a.btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #FFCA00;
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .home .home-slid .box {
        height: auto;
    }
    .home .home-slid .box .content {
        position: relative;
        width: 100%;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
    }
    .home .home-slid .box .content h3 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .home .home-slid .box .content a.btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #FFCA00;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .home .home-slid .box .image {
        width: 100%;
        height: auto;
    }
    .about .box,
    .about1 .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }
    .about .box .image img,
    .about1 .box .image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .about .box .content,
    .about1 .box .content {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .about .box .content h2,
    .about1 .box .content h2 {
        color: #703BE7;
        font-size: 2.5rem;
    }
    .about .box .content p,
    .about1 .box .content p {
        color: var(--th-color);
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    .about .box .content div,
    .about1 .box .content div {
        color: var(--th-color);
        font-size: 1.8rem;
    }
    .footer div {
        flex-basis: 100%;
        max-width: 100%;
    }
    .fill {
        height: 150px;
    }
}